<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Developer Monday</title>
	<link rel="stylesheet" href="/static/style.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<div id="content">
		<section>
			<header>
				<h2 class="destination">{{ destinations[destination]["title"]}}</h2>
				<span class="date">{{ date }}</span>
			</header>
			<form>
				<div class="orders">
				{% for order in orders %}
					{% set order_i = loop.index - 1 %}
					{% set item_data = destinations[destination]["options"][order["order"]] %}
					<div class="order">
					{% if "id" in item_data %}
						<span class="id">{{ item_data["id"] }}</span>
					{% endif %}
						<span class="item">{{ item_data["title"] }}</span>
						<ul class="options">{% for option in item_data.get("options", []) %}
							<li>{{ option }}</li>
						{% endfor %}</ul>
						<div class="right">
							<ul class="users">
								<li class="user">{{ order["user"] }}</li>
							</ul>
							<span class="price">&euro; {{ "%.2f"|format(item_data["price"]) }}</span>
						{% if is_owner %}
							<input type="checkbox" name="order-{{ order_i }}" {% if order.get("paid", False) %}checked{% endif %}/>
						{% endif %}
						</div>
					</div>
				{% endfor %}
				</div>
				<footer>
					<div class="right">
						<button type="submit" formmethod="POST" formaction="" title="Update"><i class="fas fa-fw fa-check"></i>Abrechnen</button>
					</div>
				</footer>
			</form>
		</section>
	</div>
</body>
</html>
