<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Developer Monday</title>
	<link rel="stylesheet" href="/static/style.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<div id="content">
		<section class="header">
			<header>
				<h1>Developer Monday</h1>
				<span class="date">{{ date }}</span>
				<div class="right">
					<span class="user">{{ user.name }}</span>
					<form><button formmethod="POST" formaction="{{ url_for('logout', redirect=url_for('date_show', date=date)) }}" type="submit" title="Logout"><i class="fas fa-sign-out-alt"></i></button></form>
				</div>
			</header>
		</section>
	{% if msg %}
		<section class="msg {{ msg_severity }}">
			{{ msg }}
		</section>
	{% endif %}
	{% for trip in trips %}
		<section class="trip {% if trip.closed %}closed{% endif %}">
			<header>
				<h2 class="destination">{{ trip.destination.name }}</h2>
				<span class="person">{{ trip.user.name }}</span>
				<div class="right">
				{% if trip.user == user %}
					<form><button formmethod="GET" formaction="{{ url_for('trip_show_orders', trip_id=trip.id) }}" title="List"><i class="fas fa-fw fa-shopping-cart"></i>List</button></form>
				{% endif %}
				{% if trip.user == user and not trip.closed %}
					<form><button formmethod="POST" formaction="{{ url_for('trip_close', trip_id=trip.id) }}" title="Close"><i class="fas fa-fw fa-shopping-cart"></i>Close</button></form>
				{% endif %}
				{% if trip.closed %}
					<form><button formmethod="GET" formaction="{{ url_for('trip_show_settle', trip_id=trip.id) }}" title="Settle"><i class="fas fa-fw fa-money-bill-wave"></i>Settle</button></form>
				{% endif %}
				</div>
			</header>
			<form>
				<div class="orders">
				{% for item in trip.destination.items if not item.historical or trip.closed %}
					<div class="order">
					{% if item.tag %}
						<span class="id">{{ item.tag }}</span>
					{% endif %}
						<span class="item">{{ item.name.split(";")[0] }}</span>
						<ul class="options">{% for option in item.name.split(';')[1:] %}
							<li>{{ option }}</li>
						{% endfor %}</ul>
						<div class="right">
							<span class="price">&euro; {{ "%.2f"|format(item.price) }}</span>
						{% set user_order = trip.get_user_item_count(user, item) %}
						{% if trip.closed %}
							<span class="order-count">{{ user_order }}</span>
						{% else %}
							<input class="order-count" type="number" name="item-{{ item.id }}" min="0" value="{{ user_order }}" />
						{% endif %}
						</div>
					</div>
				{% endfor %}
				</div>
				<footer>
					<div class="right">
					{% if trip.closed %}
						<span class="note"><i class="fas fa-fw fa-lock"></i> This trip is closed.</span>
					{% else %}
						<button type="submit" formmethod="POST" formaction="{{ url_for('trip_submit_order', trip_id=trip.id) }}" title="Order"><i class="fas fa-fw fa-check"></i>Order</button>
					{% endif %}
					</div>
				</footer>
			</form>
		</section>
	{% else %}
	<section>
		<header>
			<p>Nobody's going anywhere yet. Add a trip below!</p>
		</header>
	</section>
	{% endfor %}
		<section class="trip">
			<form>
				<footer>
					<select name="destination">
					{% for destination in destinations %}
						<option value="{{ destination.id }}">{{ destination.name }}</option>
					{% endfor %}
					</select>
					<div class="right">
						<button type="submit" formmethod="POST" formaction="{{ url_for('date_submit_trip', date=date) }}" value="Add Trip"><i class="fas fa-fw fa-plus"></i>Add Trip</button>
					</div>
				</footer>
			</form>
		</section>
		{% include '_footer.html' %}
	<div>
</body>
</html>
