<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Developer Monday</title>
	<link rel="stylesheet" href="/static/style.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<div id="content">
		<section>
			<header>
				<h1>Developer Monday</h1>
			</header>
		</section>
		<section>
			<form action="/login?redirect={{ redirect }}" method="POST">
				<header>
					<h1>Who are you?</h1>
				</header>
				<div class="order login">
					<input type="text" placeholder="Username" name="user" />
					<!--<input type="password" placeholder="Password" name="pass" />-->
				</div>
				<footer>
					<div class="right">
						<span class="note">By signing in you agree to the <a href="/terms">Terms</a></span><button type="submit" value="Continue" /><i class="fas fa-fw fa-sign-in-alt"></i> Sign In</button>
					</div>
				</footer>
			</form>
		</section>
		<section>
			<header>
				<h1>New in Noodlz {{ version }}</h1>
			</header>
			<article>
				<ul>
					<li><span class="badge new">NEW</span> Mark items as "historical" to make them unorderable for the future without changing orders in the past</li>
					<li><span class="badge new">NEW</span> <span class="badge tag">CLI</span> Modify/remove menu items</li>
					<li><span class="badge new">NEW</span> <span class="badge tag">CLI</span> Add test data when initializing a new Database</li>
					<li><span class="badge new">NEW</span> Username constraints are now configurable</li>
					<li><span class="badge fix">FIX</span> Place the Terms more prominently on the login page</li>
					<li><span class="badge fix">FIX</span> Prevent a certain person from ordering 65535 drinks again</li>
				</ul>
			</article>
			<footer>
				<small><p><a href="https://github.com/df0hsa/noodlz/tag/v{{version}}">Source</a></p></small>
			</footer>
		</section>
		{% include '_footer.html' %}
	</div>
</body>
</html>
