<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Developer Monday</title>
	<link rel="stylesheet" href="/static/style.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<div id="content">
		<section>
			<header>
				<h1>It's not Monday!</h1>
			</header>
		</section>
		<section>
			<div class="order">
				<p>Sadly, it's not monday. Some people don't really like mondays, but we do! Because when it's monday, that means it's Developer Monday!</p>
			</div>
		</section>
		<section>
			<footer>
				<small><p>Noodlz, v{{ version }}. Open Source on <a href="https://github.com/df0hsa/noodlz">GitHub</a>!</p></small>
			</footer>
		</section>
	</div>
</body>
</html>
