<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Developer Monday</title>
	<link rel="stylesheet" href="/static/style.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<div id="content">
		<section>
			<header>
				<h2 class="destination">{{ destinations[destination]["title"]}}</h2>
				<span class="date">{{ date }}</span>
				<div class="right">
					<form>
						<button formmethod="GET" formaction="{{trip_id}}/bills" title="Settle"><i class="fas fa-money-bill-wave"></i></button>
					</form>
					<form>
					{% if not show_users %}
						<input type="hidden" name="users" />
					{% endif %}
						<button formaction="#" formmethod="GET" title="{% if show_users %}Hide Users{% else %}Show Users{% endif %}"><i class="fas {% if show_users %}fa-user-slash{% else %}fa-user{% endif %}"></i></button>
					</form>
				</div>
			</header>
			<div class="orders">
			{% for order in orders %}
				{% set item_data = destinations[destination]["options"][order["order"]] %}
				<div class="order">
					<span class="order-count">{{ order["count"] }}</span>
				{% if "id" in item_data %}
					<span class="id">{{ item_data["id"] }}</span>
				{% endif %}
					<span class="item">{{ item_data["title"] }}</span>
					<ul class="options">{% for option in item_data.get("options", []) %}
						<li>{{ option }}</li>
					{% endfor %}</ul>
					{% if show_users %}
					<div class="right">
						<ul class="users">{% for user in order.get("users", []) %}
							<li class="user">{{ user }}</li>
						{% endfor %}</ul>
					</div>
					{% endif %}
				</div>
			{% endfor %}
			</div>
			<footer>
				<div class="right">
					Total: <span class="price">&euro; {{ "%.2f"|format(total) }}</span>
				</div>
			</footer>
		</section>
	</div>
</body>
</html>
