<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Developer Monday</title>
	<link rel="stylesheet" href="/static/style.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<div id="content">
		<section>
			<header>
				<h2 class="destination">{{ trip.destination.name }}</h2>
				<a href="{{ url_for('date_show', date=trip.date) }}"><span class="date">{{ trip.date }}</span></a>
				<div class="right">
					<form>
						<button formmethod="GET" formaction="{{ url_for('trip_show_settle', trip_id=trip.id) }}" title="Settle"><i class="fas fa-fw fa-money-bill-wave"></i>Settle</button>
					</form>
					<form>
					{% if not show_users %}
						<input type="hidden" name="users" />
					{% endif %}
						<button formmethod="GET" formaction="" title="{% if show_users %}Hide Users{% else %}Show Users{% endif %}"><i class="fas {% if show_users %}fa-user-slash{% else %}fa-user{% endif %}"></i></button>
					</form>
				</div>
			</header>
			<div class="orders">
			{% for trip_item in trip_items %}
				<div class="order">
					<span class="order-count">{{ trip_item.users|length }}</span>
				{% if trip_item.item.tag %}
					<span class="id">{{ trip_item.item.tag }}</span>
				{% endif %}
					<span class="item">{{ trip_item.item.name.split(';')[0] }}</span>
					<ul class="options">{% for option in trip_item.item.name.split(';')[1:] %}
						<li>{{ option }}</li>
					{% endfor %}</ul>
					{% if show_users %}
					<div class="right">
						<ul class="users">{% for user in trip_item.users %}
							<li class="user">{{ user.name }}</li>
						{% endfor %}</ul>
					</div>
					{% endif %}
				</div>
			{% endfor %}
			</div>
			<footer>
				<div class="right">
					Total: <span class="price">&euro; {{ "%.2f"|format(total) }}</span>
				</div>
			</footer>
		</section>
		{# no footer #}
	</div>
</body>
</html>
