<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Developer Monday</title>
	<link rel="stylesheet" href="/static/style.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<div id="content">
		<section class="header">
			<header>
				<h1>Allgemeine <strike>Anti-</strike>Geschäftsbedingungen</h1>
			</header>
		</section>
		<section>
			<div class="order">
				<p>Dieser Webservice dient ausschließlich zur Kommunikation, und ausdrücklich nicht zur Führung von Geschäften.</p>
				<p>Die Verwendung begründet nie einen Antrag oder ein Angebot.</p>
				<p>Durch Nutzung dieses Webservices verpflichtet sich der Nutzer, Brenda mindestens einmal zu streicheln, sofern ihm dies zuzumuten ist und weder Brenda noch ihr Mensch was dagegen haben.</p>
			</div>
		</section>
		{% include '_footer.html' %}
	<div>
</body>
</html>
